.side-container {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(204, 204, 204, 0.74);
  /* background-color: black; */
  z-index: 1;
}

.side {
  display: block;
  position: fixed;
  width: 15em;
  height: 100vh;
  padding: 5px;
  background-color: rgb(75, 19, 75);
  color: #fff;
  z-index: 10;
}

.side-profile-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex: 1 3;
  justify-content: space-between;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.side-profile-container > span {
  width: 11em;
}

.side-exit-icon {
  display: block;
  position: absolute;
  padding: 5px;
  right: 5px;
  bottom: 15px;
}

.hide-side-container {
  display: block;
  position: fixed;
  width: auto;
  height: 100vh;
  top:0;
  left: 0;
}

.hide-side-container > button {
  display: inline;
  position: fixed;
  width:auto;
  height: 70px;
  line-height: 70px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  box-sizing: border-box;
}

.hide-side-container > button > img {
  height: inherit;
  line-height: inherit;
}
